<template>
  <v-app dark>
    <v-app-bar app dark>
      <v-row no-gutters align="center" justify="center">
        <v-col cols="12" align="center" justify="center">
          <b>GESTIÓN DE EMPLEADOS</b>
        </v-col>
      </v-row>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    return {}
  },
}
</script>
