<template>
  <v-container fluid>
    <!-- DIALOGO ELIMINAR -->
    <v-dialog v-model="dialogDelete" persistent max-width="500">
      <v-card class="rounded-xl">
        <v-card-title class="title"> ¿DESEA ELIMINAR EL EMPLEADO? </v-card-title>
        <v-card-text>Al eliminar no se podrá recuperar posteriormente.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn rounded color="green darken-1" text @click.native="closeDialog()">No</v-btn>
          <v-btn rounded color="green darken-1" text @click.native="confirmDelete()">Sí</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- DIALOGO CREAR -EDITAR -->
    <v-row justify="center" align="center">
      <v-dialog class="rounded-xl" v-model="dialogCreate" persistent max-width="800">
        <v-row no-gutters justify="space-between">
          <v-col cols="12">
            <v-card class="rounded-xl">
              <v-toolbar dark color="secondary">
                <v-row no-gutters>
                  <v-col align="center">
                    <span class="title" align="center">USUARIO</span>
                  </v-col>
                </v-row>
              </v-toolbar>
              <v-card-text>
                <v-form pa="0" ref="formData" lazy-validation>
                  <employee-form :fields="employeeFields" :data="currentData" @refresh-data="refreshData" />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn rounded color="primary" width="130px" @click="closeDialog()"> CANCELAR </v-btn>
                <v-btn rounded color="primary" width="130px" @click="editing ? updateEmployee() : saveEmployee()"> GUARDAR </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-dialog>
    </v-row>
    <!-- LISTA -->
    <v-row justify="center">
      <v-col cols="12">
        <v-card class="rounded-xl">
          <v-toolbar dark color="secondary">
            <v-row no-gutters>
              <v-col align="center">
                <span class="title"> EMPLEADOS </span>
              </v-col>
            </v-row>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-title>
            <v-row justify="space-between">
              <v-col cols="12" md="6">
                <v-text-field dense outlined rounded v-model="search" append-icon="search" label="BUSCAR"></v-text-field>
              </v-col>
              <v-col cols="12" md="6" class="d-flex justify-md-end justify-center px-5">
                <v-btn color="primary" rounded @click="createNew()"> AÑADIR NUEVO </v-btn>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            <v-data-table :headers="headers" :items="employees" :search="search" item-key="table_key">
              <template v-slot:[`item.start_date`]="{ item }">
                <span>{{ moment(item.start_date).format('DD/MM/YYYY') }}</span>
              </template>
              <template v-slot:[`item.create_date`]="{ item }">
                <span>{{ moment(item.create_date).format('DD/MM/YYYY HH:mm:ss') }}</span>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="pl-2" @click="edit(item)">edit</v-icon>
                <v-icon small class="pl-2" @click="deleteData(item)">delete</v-icon>
              </template>
              <template slot="no-data">
                <v-alert :value="true" color="error" icon="warning">No se encontraron datos</v-alert>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import EmployeeForm from '../components/EmployeeForm'
import employeeFields from '@/static/employees'
import moment from 'moment'
export default {
  name: 'EmployeesPage',
  components: { EmployeeForm },
  mounted() {
    this.getAllData()
  },
  data() {
    return {
      moment: moment,
      apiUrl: 'http://127.0.0.1:3000/api/v1/',
      employeeFields: employeeFields,
      currentData: {},
      dialogDelete: false,
      dialogCreate: false,
      editing: false,
      search: '',
      employees: [],
      headers: [
        { text: 'Primer Apellido', value: 'last_name' },
        { text: 'Segundo Apellido', value: 'sur_name' },
        { text: 'Primer Nombre', value: 'first_name' },
        { text: 'Otros Nombres', value: 'other_name' },
        { text: 'Tipo de Identificación', value: 'type_id' },
        { text: 'Identificación', value: 'identification' },
        { text: 'Correo', value: 'email' },
        { text: 'País', value: 'country' },
        { text: 'Área', value: 'area' },
        { text: 'Fecha de ingreso', value: 'start_date' },
        { text: 'Estado', value: 'status' },
        { text: 'Fecha registro', value: 'create_date' },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
    }
  },
  methods: {
    refreshData(newData){
      this.currentData = newData
    },
    closeDialog() {
      this.dialogCreate = false
      this.dialogDelete = false
      this.currentData = {}
    },
    createNew() {
      this.dialogCreate = true
      this.editing = false
      this.currentData = {}
    },
    saveEmployee() {
      const data = this.currentData
      this.dialogCreate = false
      let self = this
      const url = this.apiUrl + 'employees'
      if (this.$refs.formData.validate()) {
        this.$axios
          .post(url, data, this.getHeaders())
          .then((response) => {
            self.getAllData()
          })
          .catch((error) => {
            console.log(error)
          })
      }
    },
    edit(data) {
      this.currentData = data
      this.editing = true
      this.dialogCreate = true
    },
    updateEmployee() {
      let self = this
      const data = this.currentData
      const url = this.apiUrl + `employees/${data.id}`
      if (this.$refs.formData.validate()) {
        this.$axios
          .put(url, data, this.getHeaders())
          .then(function (response) {
            self.getAllData()
            self.closeDialog()
          })
          .catch(function (error) {
            console.log(error)
          })
      }
    },
    getAllData() {
      const url = this.apiUrl + 'employees'
      let self = this
      this.$axios
        .get(url)
        .then((response) => {
          let data = response.data
          self.employees = data.data
        })
        .catch((error) => {
          console.log(error)
        })
    },
    deleteData(data) {
      this.currentData = { ...data }
      this.dialogDelete = true
    },
    confirmDelete() {
      let self = this
      const data = this.currentData
      const url = this.apiUrl + `employees/${data.id}`
      this.$axios
        .delete(url, this.getHeaders())
        .then(function (response) {
          const result = response.data
            self.getAllData()
            self.closeDialog()
          
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    getHeaders() {
      return {
        headers: {
          'Access-Control-Allow-Origin': '*',
          'Access-Control-Allow-Headers': 'Content-Type',
          'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS',
        },
      }
    },
  },
}
</script>
