<template>
  <v-row no-gutters>
    <v-col class="px-1 pb-1" v-for="(item, index) in fields" :key="index" cols="12" :md="item.size ? item.size : 12">
      <v-text-field
        outlined
        rounded
        v-if="item.type === 'text' || item.type === 'identification'"
        v-model="currentData[item.name]"
        :label="item.label"
        :counter="item.length != undefined ? item.length : undefined"
        :maxlength="item.length != undefined ? item.length : undefined"
        :rules="rules(item, currentData[item.name])"
        :required="!!item.required"
        class="upper"
      ></v-text-field>

      <v-select
        v-if="item.type === 'select'"
        outlined
        rounded
        clearable
        :required="!!item.required"
        item-value="name"
        item-text="label"
        v-model="currentData[item.name]"
        :label="item.label"
        :items="item.choices"
        :rules="rules(item, currentData[item.name])"
      ></v-select>

      <v-menu
        v-if="item.type === 'date'"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
        class="rounded-xl"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-row no-gutters v-on="on">
            <v-col cols="12">
              <v-text-field
                outlined
                rounded
                append-icon="event"
                v-model="currentData[item.name]"
                :label="item.label"
                :rules="rules(item, currentData[item.name])"
                :required="!!item.required"
                readonly
                v-bind="attrs"
                filter="currency"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </template>
        <v-date-picker :min="minDate" :max="maxDate" class="rounded-xl" color="primary" v-model="currentData[item.name]" locale="es"></v-date-picker>
      </v-menu>
    </v-col>
  </v-row>
</template>

<script>
import moment from 'moment'
export default {
  name: 'UserForm',
  props: ['fields', 'data'],
  mounted() {
    this.currentData = this.data
  },
  data() {
    return {
      currentData: {},
      minDate: moment().subtract(1, 'month').format('YYYY-MM-DD'),
      maxDate: moment().format('YYYY-MM-DD'),
    }
  },
  watch: {
    currentData: {
      handler: function (newData, oldData) {
        this.$emit('refresh-data', newData)
      },
      deep: true,
    },
  },
  methods: {
    uppercase(item) {
      if (this.currentData[item.name]) this.currentData[item.name] = this.currentData[item.name].toUpperCase()
    },
    rules(item, info) {
      var condiciones = []
      if (item.required) {
        condiciones.push(eval("v => !!v || 'Este campo es requerido'"))
      }

      return condiciones
    },
  },
}
</script>
<style >
.upper input,
.upper textarea {
  text-transform: uppercase;
}
</style>